<h1>Welcome to the homepage of the food page</h1>
<p>{{{body}}}</p>

<form method="GET" action="">
        <input type="radio" name="filterCategory" value="breakfast" checked> breakfast<br>
        <input type="radio" name="filterCategory" value="lunch"> lunch<br>
        <input type="radio" name="filterCategory" value="dinner"> dinner<br>
    <input type="radio" name="filterCategory" value="anytime"> anytime
    <input type="submit">
</form>